<% if @restaurant.errors.present? %>
  <ul>
    <% @restaurant.errors.each do |error, message| %>
      <li> <%= "#{error.capitalize}  #{message}" %></li>
    <% end %>
  </ul>
<% end %>

<%#= form_for @restaurant, :url => admin_restaurants_path, :method => :post do |f| %>
<%# 但是也可以不用寫:url及:method, 改用把@restaurant指定得更精確的寫法--> [:admin, @restaurant]：好處是重構時較方便, 都靠rails自己判斷new或edit即可 %>
<%= form_for [:admin, @restaurant] do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :tel, "Tel" %>
  <%= f.text_field :tel %>

  <%= f.label :address, "Address" %>
  <%= f.text_field :address %>

  <%= f.label :opening_hours, "Opening Hours" %>
  <%= f.text_field :opening_hours %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>

  <%= f.submit %>
<% end %>