<h1><%= @restaurant.name %></h1>

Opening Hours:<%= @restaurant.opening_hours %><br>
Tel: <%= @restaurant.tel %><br>
Address: <%= @restaurant.address %><br>
Description:<%= @restaurant.description %><br>
<% if @restaurant.image? %>
  <%= image_tag @restaurant.image.url, width: '600px' %>
<% end %>
<br>

<%# 以下是麗鈴介紹的"回到上一頁" %>
<%= link_to 'Back to last page', url_for(:back) %>

<%= link_to 'Back to index', admin_restaurants_path %>