<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @restaurant.name %></h1>
      <p>[<%= @restaurant.category.name %>]</p>
    </div>

    <div class="col-md-4">
      <%= image_tag @restaurant.image, class: "img-responsive center-block" %>
      <br>
      <div class="well">
        <ul class="list-unstyled">
          <li><strong>Opening Hour:</strong> <%= @restaurant.opening_hours %></li>
          <li><strong>Tel:</strong> <%= @restaurant.tel %></li>
          <li><strong>Address:</strong> <%= @restaurant.address %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <%= simple_format @restaurant.description %>
    </div>

    <div class="clearfix"></div>

    <hr>

  </div>
</div>

<div class="container">
  <div class="row">

   <%# 因為在路由中是設定restaurant及comment為"Nested Resources"，所以@restaurant, @comment都要傳入 %>
   <%# 否則form_for 會將使用者的資料，送去依"comments_path解譯，但其實並不存在"的路由，整個不正確!!! %>
   <%# 再次提醒 : 我們期待的評論url為 --> /restaurants/:restaurant_id/comments(.:format) %>
   <%= form_for [@restaurant, @comment] do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "留個言吧", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
    </div>
  <% end %>
  </div>
</div>